body {
  font-family: sans-serif;
  font-size: 20px;
  background-image: url(../img/dark-triangles.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

@font-face {
  font-family: broken-glass;
  src: url("../fonts/broken-glass/BrokenGlass.otf"); }

@font-face {
  font-family: breakaway;
  src: url("../fonts/breakaway/breakaway.ttf"); }

@font-face {
  font-family: josefinlight;
  src: url("../fonts/josefin/JosefinSans-Light.ttf"); }
