/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

@font-face {
  font-family: josefin;
  src: url("../fonts/josefin/JosefinSans-Bold.ttf"); }

@font-face {
  font-family: josefinlight;
  src: url("../fonts/josefin/JosefinSans-Light.ttf"); }

body {
  background-image: url(../img/blue-background.gif);
  background-size: contain;
  background-repeat: repeat; }

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #ff8000;
  -webkit-box-shadow: 1px 1px 100px 1px;
  box-shadow: 1px 1px 100px 1px;
  opacity: 0.8;
  border-style: solid;
  border-width: 3px 0;
  border-color: black;
  z-index: 1;
  margin: -90px 0; }
  nav li {
    list-style: none;
    display: inline-block;
    margin: 0 -2.7px;
    padding: 18px 0; }
  nav li a {
    font-family: josefin;
    font-weight: bold;
    font-size: 33.5px;
    color: black;
    text-decoration: none;
    margin: 10px 0px;
    padding: 15px 20px 6px;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    border-color: #ff8000;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s; }
  nav li a:hover {
    color: #ff8000;
    border-color: black;
    background-color: black;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }

div {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.75;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s; }

div:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1.0;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-color: #ff8000; }

h2 {
  font-family: josefin;
  font-size: 30px;
  padding: 10px 10px 5px;
  margin: 90px 25% 5px;
  width: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: #ff8000;
  color: black;
  text-align: center;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

h2:hover {
  background-color: black;
  color: #ff8000;
  border-color: #ff8000;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

#bear {
  background-image: url(../img/bear.png);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 36.25%;
  width: 28.5%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#gun-girl {
  background-image: url(../img/gun-girl.jpg);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 31.5%;
  width: 37%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#eye {
  background-image: url(../img/abstract-eye.png);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 35.25%;
  width: 28.5%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#ace {
  background-image: url(../img/ace.jpg);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 31.5%;
  width: 37%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#blue-me {
  background-image: url(../img/blue-me.jpg);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 31%;
  width: 38%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#bomb {
  background-image: url(../img/bomb.png);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 5%;
  width: 90%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#cyborg {
  background-image: url(../img/cyborg.jpg);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 31.5%;
  width: 37%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#edgy-chick {
  background-image: url(../img/edgy-chick.jpg);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 35.75%;
  width: 30.5%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#morty {
  background-image: url(../img/evil-rick.png);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 5%;
  width: 90%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#link {
  background-image: url(../img/link.jpg);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 31.5%;
  width: 37%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#serpent {
  background-image: url(../img/sea-serpent.jpg);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 15%;
  width: 70%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }

#logo {
  background-image: url(../img/sykoskorpion-logo.png);
  background-color: #ff8000;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 5%;
  width: 90%;
  height: 967px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 3px; }
