@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";

body{
    background-image: url(../img/dark-triangles.png);
}

nav{
    @include main-nav-style;
    margin: 0;
}

#info-wrapper{
    color: black;
    background-color: $d-orange;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    margin: 130px 10% 20px;
    width: 80%;
    height: 650px;
    float: left;
    opacity: 0.8;
    h2{
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-radius: 3px;
        width: 300px;
        font-family: josefin;
        font-size: 50px;
        margin: 10px 35%;
        padding: 15px 10px 5px;
        transition-duration: 0.5s;
    }
    h3{
        border-style: solid;
        border-width: 3px 0 3px 0;
        border-radius: 3px;
        font-family: josefin;
        font-size: 40px;
        margin: 10px;
        padding: 10px 10px 5px;
        transition-duration: 0.5s;
    }
    p{
        font-family: josefinlight;
        font-size: 30px;
        margin: 40px 10px;
        text-align: center;
        transition-duration: 0.5s;
    }
}

#info-wrapper:hover{
    h2{
        color: $d-orange;
        background-color: black;
        border-color: black;
        transition-duration: 0.3s;
    }
    h3{
        color: $d-orange;
        background-color: black;
        border-color: black;
        transition-duration: 0.3s;
    }
}