@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";

body{
    background-image: url(../img/blue-background.gif);
    background-size: contain;
    background-repeat: repeat;
}

nav{
    @include main-nav-style;
    margin: -90px 0;
}

div{
    filter: grayscale(100%);
    opacity: 0.75;
    transition-duration: 0.7s;
}

div:hover{
    filter: grayscale(0%);
    opacity: 1.0;
    transition-duration: 0.3s;
	border-color: $d-orange;
}

h2{
    font-family: josefin;
    font-size: 30px;
    padding: 10px 10px 5px;
    margin: 90px 25% 5px;
    width: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: $d-orange;
    color: black;
    text-align: center;
    transition-duration: 0.8s;
}

h2:hover{
    background-color: black;
    color: $d-orange;
    border-color: $d-orange;
    transition-duration: 0.3s;
}

#bear{
    background-image: url(../img/bear.png);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 36.25%;
    width: 28.5%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
}

#gun-girl{
    background-image: url(../img/gun-girl.jpg);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 31.5%;
    width: 37%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
}

#eye{
    background-image: url(../img/abstract-eye.png);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 35.25%;
    width: 28.5%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
    
}

#ace{
    background-image: url(../img/ace.jpg);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 31.5%;
    width: 37%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
}

#blue-me{
    background-image: url(../img/blue-me.jpg);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 31%;
    width: 38%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
    
}

#bomb{
    background-image: url(../img/bomb.png);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 5%;
    width: 90%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
    
}

#cyborg{
    background-image: url(../img/cyborg.jpg);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 31.5%;
    width: 37%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
}

#edgy-chick{
    background-image: url(../img/edgy-chick.jpg);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 35.75%;
    width: 30.5%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
}

#morty{
    background-image: url(../img/evil-rick.png);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 5%;
    width: 90%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
}

#link{
    background-image: url(../img/link.jpg);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 31.5%;
    width: 37%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
}

#serpent{
    background-image: url(../img/sea-serpent.jpg);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 15%;
    width: 70%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
}

#logo{
    background-image: url(../img/sykoskorpion-logo.png);
    background-color: $d-orange;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 5%;
    width: 90%;
    height: 967px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 3px;
}